.main {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    margin-left: 30px;
    margin-right: 30px;
}

#logo {
    position: relative;
    width: 160px;
    height: 200px;
    float: left;
}

#mustache {
    transform: rotate(90deg);
    position: absolute;
    top: 100px;
    left: 40px;
    font-size: 120px;
}

#brim {
    transform: rotate(30deg);
    position: absolute;
    top: 0px;
    left: 6px;
    font-size: 120px;
}

#crown {
    transform: rotate(-60deg);
    position: absolute;
    top: 14px;
    left: 46px;
    font-size: 80px;
}

#lefteye {
    position: absolute;
    top: 50px;
    left: 30px;
    font-size: 60px;
}

#righteye {
    position: absolute;
    top: 70px;
    left: 66px;
    font-size: 60px;
}

#title {
    position: relative;
    line-height: 170px;
    font-size: 70px;
    font-family: 'Goudy Bookletter 1911',Georgia,serif;
    left: 20px;
    top: 35px;
}

.collapsible-section {
    margin-left: 30px;
    margin-bottom: 30px;
}

.collapsible-header {
    font-weight: bold;
    font-family: Arial,Verdana,sans-serif;
    font-size: 16px;
    color: #348b18;
}

.collapsible-header:hover {
    cursor: pointer;
}

.collapsible-header-closed:hover:after {
    font-family: Arial,Verdana,sans-serif;
    font-size: 16px;
    content: /*" ⌄";*/ " ˅";
    position: relative;
    top: 0.05em;
}

.collapsible-header-open {
    color: #348b18;
}

.collapsible-header-open:after {
    font-family: Arial,Verdana,sans-serif;
    font-size: 16px;
    content: " ⌃"; /*" ˄"*/
}

.collapsible-body {
    font-family: Arial,Verdana,sans-serif;
    font-size: 15px;
    font-style: oblique;
    color: #333333;
}

.collapsible-body a {
    text-decoration: none;
    color: #990605;
    font-weight: bold;
}

.collapsible-body a:hover {
    text-decoration: underline;
}

.collapsible-body em {
    font-style: normal;
    font-weight: bold;
}

#separator {
    margin-left: 30px;
    margin-right: 30px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.suit {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    margin-right: 7px;
}

.divider {
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}

#lorumtext {
    font-family: Arial,Verdana,sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin: 30px;
    text-align: justify;
}

#lorumtext p {
    margin-bottom: 2em;
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -ms-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
}

#lorumtext p.highlighted {
    background-color: cadetblue;
}

#control {
    display:flex;
    justify-content:center;
    align-items:center;
}

.moreButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.moreButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.moreButton:active {
    position:relative;
    top:1px;
}

/* latin */
@font-face {
    font-family: 'Goudy Bookletter 1911';
    font-style: normal;
    font-weight: 400;
    src: local('Goudy Bookletter 1911'), local('GoudyBookletter1911'), url('/static/GoudyBookletter1911.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
